.button_month {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 2px solid #008CBA;
    border-radius: 4px;
    cursor: pointer;
}

.button_login {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    border: 2px solid #008CBA;
    border-radius: 4px;
    cursor: pointer;

}

.grid_container {
    display: grid;
}

.grid_first, .grid_second {
    z-index: 2;
    grid-area: 1 / 1;
}

.button_month:hover {
    background-color: #fff;
    color: black;
}

.center_wrapper {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.stat {
    display: inline-block;
    position: fixed;
    z-index: 2;
    float: left;
}

#chartContainer {
    margin-top: 30px;
    display: inline-block;
    height: 30rem;
    width: 100%;
}

.button_month_container {
    z-index: 3;
    margin-top: 30px;

}


#horizontalProgress {
    position: fixed;
    top: 1px;
    right: 0px;
    left: 0px;
}

#horizontalProgressBar {
    position: absolute;
    top: 0%;
    height: 3px;
    left: 0px;
    margin-top: -1px;
    background: #3A95FF;
    z-index: 999999;
    transition: opacity 0.5s, width 0.5s;
}

#horizontalProgressOverlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    transition: opacity 1s;
}

#horizontalProgressOverlay.show {
    left: 0%;
}


html { font-family: sans-serif; background: #eee; padding: 0rem; }
body { margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }

a { color: #377ba8;}
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.logged_in {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

