<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header-login-signup.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block header %}
    {% endblock %}
</head>

<body>

<div class="header-login-signup">

    <div class="header-limiter">

        <h1><a href="/">Feed<span>App</span></a></h1>

        <nav>
            <a href="/">Home</a>
            <a href="/stat">Statistics</a>
        </nav>
        <ul>
            <li><a id="login-info" class="login-info">{{ name }}</a></li>
            <li><a id="sign-out">Sign out</a></li>
        </ul>

    </div>


</div>


<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</body>
